body {
  right: 0;
  top: 0;
  width: 100%;
  background-image: url('../src/images/backgroundPostIts.png');
  background-repeat: no-repeat;
  background-size: 1980px;
  background-position-y: -550px;
}

.form-btn-header {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 50px;
}

.form-btn {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.form-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  margin-top: 100px;
}

.form-input {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.form-label-header > input {
  height: 50px;
  width: 350px !important;
  margin-top: 8px;
}

.update-form-container{
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  visibility: hidden;
  position: absolute;
}

.update-form-input {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 8px;
}

.task-list-container{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 8px;
}

.task-list-item{
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.task-list-xmark{
  color: grey;
  padding-right: 10px;
  padding-left: 10px;
}

.task-list-xmark:hover{
  cursor: pointer;
  color: #000000;
  font-size: 24px;
}

.task-list-editmark{
  color: grey;
  padding-right: 10px;
  padding-left: 10px;
}

.task-list-btn-container{
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

ul{
  width: 50%;
}

.form-select{
  cursor: pointer;
}

@media (max-width: 1400px)
{
  .task-list-item
   {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 150px;
   }


}

@media (max-width: 700px)
{
  .list-group-item 
  {
    width: 320px;
  }
}

.form-control {
  width: 200px !important; 
}

.select-field{
  height: 38px;
  background-image: url('../src/images/arrow-img.png');
  background-position-x: 160px;
  background-repeat: no-repeat;
  background-size: 36px;
}
